.FAQ {
  strong {
    margin-bottom: 3px;
  }

  .faq-list {
    margin-left: -20px;

    > li {
      margin-bottom: 10px;
    }

    ul {
      margin-left: -20px;
      li {
        list-style-type: disc;
      }
    }

    .faq-highlight {
      color: #EE312D
    }

    .faq-keyword {
      font-weight: 600;
    }
  }

}