.progress-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 10px;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

.progress-mark {
    padding: 0 0;
    height: 85px;
}

.progress-description {
    width: 75%;
    padding-left: 23%;
    text-align: center;
}