.schedule-title {
    background-color: #E75EA0;
    color: white;
    padding: 6px;
    margin: 30px 20px;
    /*border-radius: 10px;*/
}

.progress-mark {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/

    /*width: 20px;*/
    display: inline-block;
    vertical-align: middle;
}

.progress-description {
    width: 75%;
    padding-left: 23%;
    text-align: center;
}