.Result-container {
    padding: 30px 20px 0 !important;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("../../../images/game/background/hill-1.svg"), url("../../../images/game/background/hill-2.svg"), url("../../../images/game/background/hill-3.svg");
    background-color: #dddddd !important;
    background-repeat: no-repeat;
    animation: animatedBackground 10s linear infinite;
    min-height: 100vh;
}

.score-panel {
    font-size: 20px;
    font-family: "Kaiti SC";
    font-weight: bold;
}

.score-panel p, .ranking-text p {
    text-align: center !important;
}

.ranking-panel {
    position: absolute;
    width: 375px;
    left: 50%;
    margin-left: -187px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Kaiti SC";
    font-weight: bold;
}

.score-result {
    position: fixed;
    font-size: 14px;
}
.score {
    font-size: 50px;
}

.app-header {
    display: inline-block;
    width: 100%;
}

.header-cloud {
    display: inline-block;
    width: 25%;
    height: 25%;
    float: right;
}

.ranking-text {
    margin-top: 220px;
    font-size: 16px;
    font-family: "Kaiti SC", serif;
    font-weight: bold;
    text-align: center !important;
}

.marketing {
    margin-top: 30px;
}

ul.marketing-option {
    padding: 0;
}

.join-us, .play-again {
    display: block;
    font-family: "Kaiti SC";
    font-size: 18px;
    line-height: 1;
}

.join-us a, .play-again a {
    text-align: center;
    display: block;
    margin: 20px 100px; /* TODO: Responsiveness */
    padding: 17px 30px;
    color: #ffffff;
    background-color: #5B5959 !important;
    border-radius: 40px;
}
