body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
}

p {
  text-align:justify;
  text-justify: distribute;
  text-rendering: optimizeLegibility;
}

.no-justify {
  text-align:left;
}